<!DOCTYPE html>

<html lang="en">

<!--
Title: Assignment 5.4
Author: Kimberly Pierce
Date: 18  March 2020
Modified By: Kimberly Pierce
Description: EMS
-->


<%- include ("header") %>

<body id="new">

<%- include ("navbar") %>

<div id="csrf">
  <h2><%= message %></h2>
    <form method="post" action="/process">
    <div class="form-group">
      <label for="txtName">Name: </label>
      <input type="text" class="form-control" id="txtName" name="txtName">
    </div>
    <div class="form-group">
      <!--CSRF token-->
      <input name="_csrf" value="<%= csrfToken %>" type="hidden">
      <button type="submit" class="btn btn-secondary float-right">Submit</button>
    </div>
    </form>
  </div>


<%- include ("footer") %>

</body>

</html>
